header .jumbotronjumbotron-fluid {
    background-image: url(../img/img-reception.jpg);
    background-size: cover;
    min-height: 850px;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}

header .jumbotronjumbotron-fluid {
    color: white;
}

main .about {
    display: flex;
    flex-direction: row-reverse;
    padding: 300px;
    font-size: 1.4rem;
    text-align: center;
}

main .row {
    text-align: center;
    padding: 100px;
    margin-left: 300px;
}

main .rooms {
    text-align: center;
}

main .restoran {
    display: flex;
    flex-direction: row-reverse;
    padding: 300px;
    font-size: 1.7rem;
    text-align: center;
}

main .proposition {
    text-align: center;
}