
body {
    max-width: 1700px;
    margin: auto;
}


header .jumbotronjumbotron-fluid {
    background-image: url(../img/img-reception.jpg);
    background-size: cover;
    min-height: 850px;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}

header .jumbotronjumbotron-fluid {
    color: white;
}

main .about {
    margin-top: 230px;
   
 
}
main .media-body {
    margin-top: 70px;
}


main .rooms {
    margin-top: 230px;
    text-align: center;
}

main .restoranbody {
    margin-top: 70px;
}
main .restoran {
    margin-top: 230px;

}

main .proposition {
    text-align: center;
}
main .restoran {
     margin-top: 230px;
}
main .proposition {
    margin-top: 230px;
}
main .contactsus {
    margin-top: 350px;
}
main .book {
    margin-top: 200px;
}

main .contact {
    margin-top: 15px;
}

footer .end {
    margin-top: 400px;
}